@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	font-family: sans-serif;
	background-color:#000;
}
h1{color:#e0e0e0;
   text-align:center;
   font-size: 40px;
}
h2{color:#e0e0e0;
   text-align:center;
   font-size:30px;
}
a.tasti{
	text-decoration:none;
	padding:10px;
	border: 1px solid;
	border-color:rgba(224,224,224,1);
	color:#e0e0e0;
}
a.tasti:hover{
	color:#fff;
	border-color:rgba(224,224,224,0.5);
}
.principe{
	background-image:url('../jpg/parallax2.jpg');
	background-position:top center;
	background-repeat:repeat-y;
	background-attachment:fixed;
	padding:0px;
	margin:0px;
}
.cate{
	float:left;
	width:48%;
	overflow: hidden;
	margin-left:1%;
	background-color:#000;
	margin-bottom:2%;
}

.cate a {
	text-decoration:none;
	background:none;
}

.cate a img, .cate a span{
  opacity:1;
  scale:1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.cate a span {
  display: block;
  opacity: 0.4;
  position: relative;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  margin-top:-4em;
  z-index: 2;
  font-family: sans-serif;
  font-size:200%;
  font-weight: bold;
  color: #ffffff;
  line-height:100%;
  background:rgba(0,0,0,0.6);
}

.linea{
	float:left;
	width:24%;
	overflow: hidden;
	margin-left:1%;
	background-color:#000;
	margin-bottom:2%;
}


@media (max-width: 650px) and (min-width:0px){
	.cate{
		float:none;
		width:100%;
		text-align:center;
	}
	.linea{
		width:48%;	
}
}

/* animazioni entrata */
@-webkit-keyframes dasinistra{
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes dasinistra {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft1 {
  -webkit-animation: dasinistra 1s ease-out;
  animation: dasinistra 1s ease-out;
}
.fadeInLeft2 {
  -webkit-animation: dasinistra 1s ease-out 400ms;
  animation: dasinistra 1s ease-out 400ms;
}
.fadeInLeft3 {
  -webkit-animation: dasinistra 1s ease-out 800ms;
  animation: dasinistra 1s ease-out 800ms;
}
.fadeInLeft4 {
  -webkit-animation: dasinistra 1s ease-out 1200ms;
  animation: dasinistra 1s ease-out 1200ms;
}
.fadeInLeft5 {
  -webkit-animation: dasinistra 1s ease-out 1600ms;
  animation: dasinistra 1s ease-out 1600ms;
}
.fadeInLeft6 {
  -webkit-animation: dasinistra 1s ease-out 2000ms;
  animation: dasinistra 1s ease-out 2000ms;
}

@-webkit-keyframes dadestra {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes dadestra {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight1 {
  -webkit-animation: dadestra 1s ease-out;
  animation: dadestra 1s ease-out;
}
.fadeInRight2 {
  -webkit-animation: dadestra 1s ease-out 400ms;
  animation: dadestra 1s ease-out 400ms;
}
.fadeInRight3 {
  -webkit-animation: dadestra 1s ease-out 800ms;
  animation: dadestra 1s ease-out 800ms;
}
.fadeInRight4 {
  -webkit-animation: dadestra 1s ease-out 1200ms;
  animation: dadestra 1s ease-out 1200ms;
}
.fadeInRight5 {
  -webkit-animation: dadestra 1s ease-out 1600ms;
  animation: dadestra 1s ease-out 1600ms;
}
.fadeInRight6 {
  -webkit-animation: dadestra 1s ease-out 2000ms;
  animation: dadestra 1s ease-out 2000ms;
}

/* swipe */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.swipe-wrap > div > img {
  width:100%;
  border:none;
}
